header,
body {
    background-color: #070320;
    color: white;
}

nav button {
    background-color: #D80027;
    border-radius: 5px;
    border: none;
    width: 131px;
    height: 40px;
    color: white;
}

ul {
    list-style-type: none;
}

nav ul {
    width: 50%;
}

nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav a,
nav ul {
    text-decoration: none;
}

nav a {
    color: white;
}

footer {
    background-color: white;
    color: black;
    position: relative;
    bottom: 0;
}

h1, h2, h3{
    text-align: center;
}

h2{
    margin-top: 40px;
    font-size: xx-large;
    font-weight: 600;
}

.map{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
    margin-top: 40px;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 25%;
    margin-top: 25px;
    margin-bottom: 10%;
}

form div{
    display: flex;
    flex-direction: column;
    font-size: x-small;
}

form input, form textarea{
    border: 0.6px;
    border-radius: 9px;
    border-color: #000000;
    height: 45px;
    margin: 5px 0;
    padding-left: 10px;
}

form textarea{
    height: 90px;
    resize: vertical;
    padding-top: 10px;
    width: 100%;
}

label{
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: -0.3px;
}

hr.horizontalDivider {
    border: none;
    border-top: 1px solid #ccc;
    margin-left: 5%;
    margin-right: 5%;
}

hr.verticalDivider {
    border: none;
    border-left: 1px solid #ccc;
    height: 75px;
    margin: 0 20px;
    align-self: center;
}

i{
    size: 15px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.wrapper div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 200px;
    width: 20%;   
}

.footer-contact p:last-child {
    margin: 20px 0;
}

.footer-link {
    flex-direction: row !important;
    justify-content: start !important;
    align-items: end
}

.footer-link i {
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.logo-link{
    flex-direction: row !important;
    justify-content: start !important;
    align-items: end;
    margin-top: 15px;
}

.logo-link i{
    font-size: 30px;
    margin-right: 15px;
    cursor: pointer;
}

.copyright {
    text-align: center;
    padding: 10px;
    font-size: small;
}

.main {
    font-size: larger;
    font-weight: 500;
    margin: 10px 0;
}

.centeredText {
    text-align: center;
}

.smallText {
    font-size: small;
}

.thinText {
    font-weight: 350;
}

.fullWidth {
    grid-column: span 2;
}

.submitButton{
    background-color: #D80027;
    border-radius: 10px;
    border: none;
    width: 131px;
    height: 40px;
    color: white;
    grid-column-start: 2;
    margin-left: auto;
    cursor: pointer;
    color: black;
}

.infoContainer{
    display: inline-flex;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
    margin-bottom: 50px;
    vertical-align: middle;
}

.infoContainer div:nth-child(n){
    display: flex;
    flex: 100%;
    justify-self: center;
}

.logosContainer{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-bottom: 3%;
}

.logosContainer div{
    justify-content: center;
    place-items: center;
}

.phoneInfo{
    justify-content: center;
    place-items: center;
}

.phoneInfo > *{
    flex-direction: row;
}

.phoneInfo i{
    font-size: 20px;
    margin-right: 10px;
}

.addressInfo{
    justify-content: center;
    place-items: center;
    margin-right: 12%;
}

.addressInfo > *{
    flex-direction: row;
}

.addressInfo i{
    font-size: 25px;
    margin-right: 10px;
}

.contactSubtitle{
    margin-top: 25px;
    font-size: xx-large;
    font-weight: 600;
}

.mt-10px{
    margin-top: 10px;
}

.mt-large{
    margin-top: 5%;
}

@media (max-width: 600px) {
    nav ul li {
        gap: 15px;
    }

    nav ul li button {
        width: 50%;
        font-size: small;
    }

    img {
        width: 95%;
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 10%;
    }

    .infoContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    .infoContainer div {
        margin-bottom: 20px;
    }

    hr.verticalDivider {
        display: none;
    }

    hr.horizontalDivider.phoneView {
        width: 60%;
        margin-bottom: 20px;
    }

    .addressInfo {
        margin-right: 0;
    }
    
    .wrapper {
        flex-direction: column;
    }
    
    .wrapper div {
        width: 90%;
        margin-bottom: 20px;
        height: auto;
    }
    
    .centeredText.smallText{
        width: 90%;
    }

}