body {
  background-color: #070320;
  color: white;
  font-family: poppins;
}



main {
  width: 1240px;
  margin: auto;
}

.success-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  width: 300px;
  height: 40px;
  position: absolute;
  top: 60px;
  left: 0%;

  background-color: #D80027;
  border-radius: 0 100px 100px 0;
  animation: pop 0.8s;
}

/* Banner */

.banner {
  padding: 80px;
  background-color: #070320;
  background-image: url(../images/8bdd2c3954dcf48e04c5934bbab4c1a3cbcad318.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.banner .text {
  font-size: 12px;
  color: #fff;
}

.banner .text.orange {
  color: orange;
}

.banner .button {
  background-color: red;
  padding: 5px 50px;
  border-radius: 40px;
}

/* GameSlect */


.GameSelect {
  padding: 80px 50px;
}

.GameSelect .img {
  width: 275px;
  height: 275px;
  border-radius: 20px;
}

.GameSelect .Game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.GameSelect .Game figure {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Bloc3 */

.Bloc3 {
  padding: 80px;
}

.bloc3 .grandeImg {
  width: 1206px;
  height: 541px;
  border-radius: 5px;
}

.bloc3 .center {
  text-align: center;
  font-size: 35px;
}

.WebSiteStats {
  background-color: #070320;
  background-image: url(../images/2c640159744c0c53904fbb9a8977ebcab80a3f14.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.WebSiteStats .stat{
  width: 233px;
  height: 129.79px;
  border-radius: 5px;
  text-align: center;
  padding: 1px;
}

.WebSiteStats .stat.blue{
  background-color: #019ADC;
}

.WebSiteStats .stat.white{
  background-color: #FFFFFF;
  color: black;
}

.WebSiteStats .stat.orange{
  background-color: #DC7000;
}

.WebSiteStats .stat.red{
  background-color: #D80027;
}

.Team{
  padding: 0px;
  margin-right: 50px;
}

.Team .center{
  text-align: center;
}

.Team .imgTeam{
  width: 352px;
  height: 223;
  border-radius: 20px;
}
.Team .teamImg{
  display: flex;
  flex-direction: row;
}

.contactUs div{
  color: #000000;
  background-color: #fff;
  width: 1170px;
  height: 120px;
  border-radius: 15px;
  padding: 5px;
}

@keyframes pop {
  0% {
    left: -1000px;
  }
  100% {
    left: 0px;
  }
}

/*
.bloc1 {
  width: 968px;
  height: 629px;
  position: absolute;
  top: 185px;
  left: 180px;
  background-color: #070320;
  background-image: url('chemin/vers/image.jpg');
  background-repeat: no-repeat;
  background-position: 519px 185px;
  background-size: 629px 629px;
}

.bloc1 .first {
  font-family: "poppins";
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  line-height: 155%;
  letter-spacing: 0px;
  color: orange;
  width: 273px;
  height: 31px;
  position: absolute;
  top: 255px;
  left: 180px;
}

.bloc1 .second {
  font-family: "poppins";
  font-weight: 700;
  font-size: 50px;
  text-align: left;
  line-height: 155%;
  letter-spacing: 0px;
  width: 479.63px;
  height: 234px;
  position: absolute;
  top: 303px;
  left: 180px;
}

.bloc1 .third {
  font-family: "poppins";
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  line-height: 200%;
  letter-spacing: 0px;
  width: 527px;
  height: 101px;
  position: absolute;
  top: 563px;
  left: 180px;
}

.bloc1 button {
  width: 150px;
  height: 50px;
  position: absolute;
  top: 714px;
  left: 180px;
  border-radius: 40px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background: linear-gradient(to right, #D80027, #FB9E3C);
}

.bloc2 {
  width: 1125px;
  height: 447px;
  position: absolute;
  top: 875px;
  left: 180px;
  border-radius: 20px;
}

.bloc2 .first {
  font-family: "rubik";
  font-weight: 700;
  font-size: 31px;
  text-align: left;
  line-height: 188%;
  letter-spacing: 0px;
  width: 131px;
  height: 58px;
  position: absolute;
  top: 875px;
  left: 180px;
}

.img1 {
  width: 275px;
  height: 275px;
  position: absolute;
  top: 992px;
  left: 180px;
  border-radius: 20px;
}

.img2 {
  width: 275px;
  height: 275px;
  position: absolute;
  top: 992px;
  left: 605px;
  border-radius: 20px;
}

.img3 {
  width: 275px;
  height: 275px;
  position: absolute;
  top: 992px;
  left: 1030px;
  border-radius: 20px;
}

.bloc2 figcaption {
  font-family: "rubik";
  size: 22px;
}

.bloc3 {
  width: 1206px;
  height: 1024px;
  position: absolute;
  top: 1462px;
  left: 140px;
}

.bloc3 .first {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 35px;
  text-align: left;
  line-height: 188%;
  letter-spacing: 0px;
  width: 273px;
  height: 132px;
  position: absolute;
  top: 1462px;
  left: 340px;
}

.bloc3 .second {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 30px;
  text-align: left;
  line-height: 188%;
  letter-spacing: 0px;
  width: 209px;
  height: 40px;
  position: absolute;
  top: 1702px;
  left: 180px;
}

.bloc3 .third {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  line-height: 188%;
  letter-spacing: 0px;
  width: 545px;
  height: 101px;
  position: absolute;
  top: 1774px;
  left: 180px;
}

.img4 {
  width: 1206px;
  height: 541px;
  position: absolute;
  top: 1945px;
  left: 140px;
  border-radius: 5px;
}

.bloc4 {
  width: 1785px;
  height: 882px;
  position: absolute;
  top: 2542px;
  background-color: #070320;
  background-image: url('chemin/vers/image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bloc4 .first {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 188%;
  letter-spacing: 0px;
  width: 826px;
  height: 110.13px;
  position: absolute;
  top: 2668.84px;
  left: 308px;
}

.bloc4 .second {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 188%;
  letter-spacing: 0px;
  width: 826px;
  height: 110.13px;
  position: absolute;
  top: 2668.84px;
  left: 308px;
}

.bloc4 .case1 {
  width: 233px;
  height: 129.79px;
  position: absolute;
  top: 2947px;
  left: 254px;
  border-radius: 5px;
}

.bloc4 .case1 .first {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 64px;
  text-align: center;
  line-height: 100%;
  letter-spacing: 0px;
  width: 233px;
  height: 53, 1px;
  position: absolute;
  top: 2967.65px;
  left: 254px;
}

.bloc4 .case1 .second {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  line-height: 188%;
  letter-spacing: 0px;
  width: 233px;
  height: 27.53px;
  position: absolute;
  top: 3031.56px;
  left: 254px;
}

.bloc4 .case2 {
  width: 233px;
  height: 129.79px;
  position: absolute;
  top: 2947px;
  left: 604px;
  border-radius: 5px;
}

.bloc4 .case2 .first {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 64px;
  text-align: center;
  line-height: 100%;
  letter-spacing: 0px;
  width: 233px;
  height: 53, 1px;
  position: absolute;
  top: 2967.65px;
  left: 604px;
}

.bloc4 .case2 .second {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  line-height: 188%;
  letter-spacing: 0px;
  width: 233px;
  height: 27.53px;
  position: absolute;
  top: 3031.56px;
  left: 604px;
}

.bloc4 .case3 {
  width: 233px;
  height: 129.79px;
  position: absolute;
  top: 2947px;
  left: 954px;
  border-radius: 5px;
}

.bloc4 .case3 .first {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 64px;
  text-align: center;
  line-height: 100%;
  letter-spacing: 0px;
  width: 233px;
  height: 53.1px;
  position: absolute;
  top: 2967.65px;
  left: 954px;
}

.bloc4 .case3 .second {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  line-height: 188%;
  letter-spacing: 0px;
  width: 233px;
  height: 27.53px;
  position: absolute;
  top: 3031.56px;
  left: 954px;
}

.bloc4 .case4 {
  width: 233px;
  height: 129.79px;
  position: absolute;
  top: 3135px;
  left: 430px;
  border-radius: 5px;
}

.bloc4 .case4 .first {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 64px;
  text-align: center;
  line-height: 100%;
  letter-spacing: 0px;
  width: 233px;
  height: 53, 1px;
  position: absolute;
  top: 3155.65px;
  left: 430px;
}

.bloc4 .case4 .second {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  line-height: 188%;
  letter-spacing: 0px;
  width: 233px;
  height: 27.53px;
  position: absolute;
  top: 3219.56px;
  left: 430px;
}

.bloc4 .case5 {
  width: 233px;
  height: 129.79px;
  position: absolute;
  top: 3135px;
  left: 780px;
  border-radius: 5px;
}

.bloc4 .case5 .first {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 64px;
  text-align: center;
  line-height: 100%;
  letter-spacing: 0px;
  width: 233px;
  height: 53, 1px;
  position: absolute;
  top: 3155.65px;
  left: 780px;
}

.bloc4 .case5 .second {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  line-height: 188%;
  letter-spacing: 0px;
  width: 233px;
  height: 27.53px;
  position: absolute;
  top: 3219.56px;
  left: 780px;
}

.bloc5 {
  width: 1170px;
  height: 767px;
  position: absolute;
  top: 3539px;
  left: 135px;
  border-radius: 20px;
}

.bloc5 .first {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 188%;
  letter-spacing: 0px;
  width: 305px;
  height: 56px;
  position: absolute;
  top: 3539px;
  left: 567px;
}

.bloc5 .second {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 188%;
  letter-spacing: 0px;
  width: 297px;
  height: 57px;
  position: absolute;
  top: 3610px;
  left: 471px;
}

.team1 {
  width: 352px;
  height: 223px;
  position: absolute;
  top: 3738px;
  left: 344px;
  border-radius: 20px;
}

.team2 {
  width: 275px;
  height: 275px;
  position: absolute;
  top: 3738px;
  left: 759px;
  border-radius: 20px;
}

.team3 {
  width: 275px;
  height: 275px;
  position: absolute;
  top: 4041px;
  left: 544px;
  border-radius: 20px;
}

.bloc5 figcaption {
  font-family: "poppins";
  size: 24px;
}


.bloc6 {
  width: 1170px;
  height: 392px;
  position: absolute;
  top: 4413px;
  left: 129px;
}

.bloc6 .first {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 30px;
  text-align: left;
  line-height: 188%;
  letter-spacing: 0px;
  width: 209px;
  height: 40px;
  position: absolute;
  top: 4413px;
  left: 129px;
}

.bloc6 .second {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  line-height: 188%;
  letter-spacing: 0px;
  width: 545px;
  height: 57px;
  position: absolute;
  top: 4485px;
  left: 129px;
}

.bloc6 div {
  width: 1170px;
  height: 189px;
  position: absolute;
  top: 4616px;
  left: 129px;
  border-radius: 15px;
}

.bloc6 .div .first {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 30px;
  text-align: left;
  line-height: 100%;
  letter-spacing: 0px;
  width: 303px;
  height: 45px;
  position: absolute;
  top: 4656px;
  left: 185px;
}

.bloc6 .div .second {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 17px;
  text-align: left;
  line-height: 100%;
  letter-spacing: 0px;
  width: 636px;
  height: 52px;
  position: absolute;
  top: 4711px;
  left: 185px;
}

.bloc6 input {
  background-color: black;
  width: 385.68px;
  height: 48px;
  position: absolute;
  top: 4687px;
  left: 863.32px;
  border-radius: 8px;
}

.block button {
  background-color: red;
  width: 105px;
  height: 37px;
  position: absolute;
  top: 4693px;
  left: 1137.77px;
  border-radius: 8px;
}*/