main {
    color: white;
}




.pres {
    text-align: center;
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
}

.game-wrapper {
    margin-bottom: 100px;
}

.game-wrapper form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
}

.game-wrapper form div {
    display: flex;
    flex-direction: column;
}

.game-wrapper select,
.game-wrapper button {
    width: 200px;
    height: 35px;
    transition: 0.2s ease;
    border: none;
    border-radius: 4px;
    padding: 4px;
}

.game-wrapper button,
.finish-popup button {
    background: linear-gradient(90deg, rgba(253, 29, 29, 1) 0%, rgba(252, 176, 69, 1) 100%);
    color: white;
    cursor: pointer;
    
}

.game-wrapper select:focus,
.game-wrapper select:hover {
    outline: 3px solid #73A2FF;
}

.grid {
    max-width: 1000px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.easy {
    grid-template-columns: repeat(4, 1fr);
}

.medium {
    grid-template-columns: repeat(6, 1fr);
}

.hard {
    grid-template-columns: repeat(8, 1fr);
}

.grid img {
    width: 100%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    cursor: pointer;
    aspect-ratio: 1 / 1;
}

.card {
    background-color: yellow;
    border-radius: 20px;
    cursor: pointer;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.easy .card {
    width: 160px;
    height: 160px;
}

.medium .card {
    width: 120px;
    height: 120px;
}

.hard .card {
    width: 80px;
    height: 80px;
}


.turning {
    animation: turning 0.4s;
}

.turning-back {
    animation: turning-back 1.2s;
}


.finish-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(-50%, -50%);
    background-color: #73A2FF;
    border-radius: 10px;
    max-width: 800px;
    width: 80%;
    height: 400px;
    -webkit-box-shadow: 0px 0px 500px 300px #000000; 
box-shadow: 0px 0px 500px 300px #000000;
}

.finish-popup .text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.finish-popup .text h1 {
    font-size: 30px;
    width: 100%;
}

.finish-popup .text p {
    font-size: 15px;
    width: 100%;
}

.finish-popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
}

.close i {
    cursor: pointer;
}

.finish-popup button {
    width: 120px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    border: none;
    border-radius: 4px;
}

.section-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 60px;
}

.text-wrapper {
    width: 100%;
}

.min-text,
.btn-text {
    margin: 20px 0;
}

.min-text {
    width: 75%;
}

.min-text p {
    margin: 10px 0;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
}

.section-wrapper img {
    width: 80%;
    border-radius: 5px;
}

.play_btn {
    background-color: #D80027;
    border: none;
    width: 131px;
    height: 40px;
    color: white;
    transition: 0.2s ease;
}

.play_btn:hover {
    background-color: #af0020;
    cursor: pointer;
}

.global-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #D80027;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.global-button i {
    font-size: 25px;
    transition: 0.4s cubic-bezier(.42, 0, .29, 1.14);
}

.global-chat {
    position: fixed;
    right: -1000px;
    bottom: 80px;
    width: 350px;
    height: 500px;
    transition: 0.4s cubic-bezier(.42, 0, .29, 1.14);
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

.global-header {
    height: 60px;
    background-color: #D80027;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

.global-header i {
    font-size: 25px;
    margin: 0 20px;
    cursor: pointer;
}

.global-chat .chat {
    height: 400px;
    background-color: white;
    overflow: scroll;
}

.global-chat form {
    position: relative;
}

.global-chat textarea {
    width: 100%;
    height: 50px;
    resize: none;
    border: none;
    border-top: 1px solid rgb(197, 197, 197);
    border-radius: 0 0 15px 15px;
    padding: 15px;
    font-size: small;
}

.global-chat textarea:focus {
    outline: none;
}

.send-button {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #D80027;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ri-send-plane-fill {
    font-size: 22px;
    color: white;
}


.text {
    display: flex;
    align-items: end;
    flex-direction: row;
    margin-bottom: 15px;
    padding: 10px 15px;
    font-weight: 300;
    font-size: small;
}

.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
}

.my-text {
    justify-content: end;
}

.foreign-text {
    justify-content: start;

}

.my-text .bubble {
    background-color: #D80027;
}

.foreign-text .bubble {
    background-color: #F2F2F2;
    color: black;
}

.wrapper-bubble {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.me {
    align-items: end;
}

.timestamp {
    color: gray;
    font-size: x-small;
    font-weight: 300;
}

.global-chat .pp {
    height: 100%;
    border-radius: 50%;
    width: 40px;
    position: relative;
    bottom: 8px;
}

.cat-img {
    width: 200px;
    height: 100%;
}

.hidden {
    display: none;
}

.show {
    right: 10px;
}

@keyframes turning {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@keyframes turning-back {
    0% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

@media (max-width : 768px) {

    .game-wrapper form {
        flex-direction: column;
        align-items: center;
    }

    .game-wrapper button {
        margin-top: 25px;
    }

    .section-wrapper {
        flex-direction: column;
    }

    .min-text {
        margin: auto;
    }

    .button-text {
        text-align: center;
    }

    .text-wrapper {
        margin-bottom: 2rem;
    }

    .text-wrapper h2 {
        text-align: center;
    }

    .global-chat {
        width: 100%;
    }

    .show {
        right: 0px;
    }

}