body {
  background-color: #070320;
  color: white;
  font-family: poppins;
}

main {
  width: 1240px;
  margin: auto;
}


/* Banner */

.banner {
  padding: 80px;
  background-color: #070320;
  background-image: url(../images/8bdd2c3954dcf48e04c5934bbab4c1a3cbcad318.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.banner .text {
  font-size: 12px;
  color: #fff;
}

.banner .text.orange {
  color: orange;
}

.banner .button {
  background: linear-gradient(to right, #D80027, #FB9E3C);
  padding: 5px 50px;
  border-radius: 40px;
  color: white;
  text-decoration: none;
}

/* GameSlect */

.GameSelect {
  padding: 80px 50px;
}

.GameSelect .img {
  width: 275px;
  height: 275px;
  border-radius: 20px;
  gap: 20px;
  text-align: center;
}

.GameSelect .Game {
  display: flex;
  flex-direction: row;
}

.GameSelect .text {
  text-align: center;
  color: white;
  text-decoration: none;
}

/* Bloc3 */

.Bloc3 {
  padding: 80px;
}

.bloc3 .grandeImg {
  width: 1206px;
  height: 541px;
  border-radius: 5px;
}

.bloc3 .center {
  text-align: center;
  font-size: 35px;
}

.WebSiteStats {
  background-color: #070320;
  background-image: url(../images/2c640159744c0c53904fbb9a8977ebcab80a3f14.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
}
.WebSiteStats .center{
  text-align: center;
}

.WebSiteStats .centerP{
  text-align: center;
  font-size: 64px;
}

.WebSiteStats .stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  gap: 50px;
  row-gap: 50px;
  margin: 0 auto;
}

.WebSiteStats .stat {
  width: 233px;
  height: 130px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WebSiteStats .stat:nth-child(4),
.WebSiteStats .stat:nth-child(5) {
  transform: translateY(30px);
}

.WebSiteStats .stat.blue{
  background-color: #019ADC;
}

.WebSiteStats .stat.white{
  background-color: #FFFFFF;
  color: black;
}

.WebSiteStats .stat.orange{
  background-color: #DC7000;
}

.WebSiteStats .stat.red{
  background-color: #D80027;
}

.Team .text{
  text-align: center;
}

.Team{
  padding: 0px;
  margin: 0 auto;
}

.Team .center{
  text-align: center;
}

.Team .imgTeam{
  width: 352px;
  height: 223;
  border-radius: 20px;
}
.Team .teamImg{
  display: flex;
  flex-direction: row;
  gap: auto;
}

.contactUs {
  width: 1170px;
  height: 120px;
  padding: 10px 30px;
}

.contactUs .container {
    width: 100%;
    min-height: 100px;
    padding: 20px;
    background: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    gap: 20px;
}

.contactUs .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: black;
}

.contactUs .text p {
    margin: 0;
    padding-left: 10px;
}

.contactUs .text h1 {
    margin: 0;
    padding-left: 10px;
}

.contactUs .Esub {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 400px;
    position: relative;
    display: flex;
    align-items: center;
}

.contactUs .Esub input {
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 80px 10px 15px;
    font-size: 16px;
    outline: none;
    width: 100%;
}

.contactUs .Esub button {
    position: absolute;
    right: 5px;
    background: red;
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}
