@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*reset to avoid front to be override by user agent stylesheet*/
input, button, textarea, select {
  font: inherit;
}

body {
    font-family: 'poppins', sans-serif;
    min-height: max-content;
}

/**
* Main container
*/
#main {
    background-color: #ffffff;
    display: flex;
}

/**
* All texts
*/
#text{
    width: 50%;
    padding: 5% 10% 5% 10%;
    text-align: center;
}

/*
* Out of form
*/

h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    color: #0C1421;
}

.presentationText{
    color: #313957;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    vertical-align: middle;
}

/**
* Form
*/
.formGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.formGroup input{
    background-color: #F7FBFF;
    border: 1px solid #D4D7E3;
    padding-left: 10px;
    border-radius: 12px;
    width: calc(100% - 24px);
}

.submitButton {
    background: #162D3A;
    color: #fff;
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
}

.googleButton{
    display: flex;
    width: 100%;
    background-color: #F3F9FA;
    border-radius: 12px;
    cursor: pointer;
    padding:  12px 12px;
    color: #313957;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.googleIcon{
    height: 15px;
    width: auto;
}

.account {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    font-size: 18px;
}

/**
* Picture
*/
#picture figure img {
    width: 100%;
    border-radius: 24px;
}

#picture{
   width: 100%;
   height: auto;
}

/*
* General settings
*/

/*Most text in form has the same settings*/
.UI{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 100%;
    vertical-align: middle;
}

/*Targets links in the form and align them on the right*/
.UI form .link {
    display: block;
    text-align: right;
}

.hasSeparator{
    display: flex;
    color: #294957;
}
/*Draw a line before an after tagged element, in line*/
.hasSeparator::after, .hasSeparator::before {
    display: flex;
    content: "";
    flex: 1;
    border-bottom: 1px solid #CFDFE2;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
}

:-ms-input-placeholder{
    color : #8897AD; 
}

.formGroup label{
    color: #0C1421;
}

button{
    border: none;
}

.link{
    color: #1E4AE9;
    cursor: pointer;
}

.link:hover{
    text-decoration: underline;
}

.mb-10px {
    margin-bottom: 10px;
}

.definedH{
    height: 45px;
}

script{
    display: none;
}

.errorMessage{
    color: red; 
    margin-bottom: 10px; 
    padding: 10px; 
    padding-top: 10px;
    background-color: #ffe6e6; 
    border: 1px solid red; 
    border-radius: 5px;   
}

/*
* Mobile
*/
@media (max-width: 600px) {

    #main{
        flex-direction: column;
    }

    #text{
        width: fit-content;
    }
}