@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playwrite+IS&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

header,
body {
    background-color: #070320;
}

footer {
    color: black;
}

.unscrollable {
    overflow: hidden;
}


.feint {
    font-size: 13px;
    font-weight: 300;
    color: rgb(206, 206, 206);
}

nav {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.success-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  width: 300px;
  height: 40px;
  position: absolute;
  top: 60px;
  left: 0%;

  background-color: #D80027;
  border-radius: 0 100px 100px 0;
  animation: pop 0.8s;
}




.burger {
    display: none;

}

.line {
    height: 3px;
    width: 30px;
    background-color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 50px;
}

.big-logo img {
    width: 75px;
}
nav button {
    background-color: #D80027;
    border-radius: 5px;
    border: none;
    width: 131px;
    height: 40px;
    color: white;
}

ul {
    list-style-type: none;
}

nav ul {
    width: 50%;
}

nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav a,
nav ul {
    text-decoration: none;
}

nav a,
nav button {
transition: 0.2s ease;
}

nav button:hover {
    background-color: #af0020;
    cursor: pointer;
}


nav a:hover {
    color: rgb(201, 201, 201);
}

nav a:hover::after {
    transform: scaleX(1);
  transform-origin: bottom left;
}



nav a {
    color: white;
}

footer {
    background-color: white;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.wrapper div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 200px;
    width: 20%;
    
}   


.footer-contact p:last-child {
    margin: 20px 0;
}

.footer-link {
    display: flex;
    flex-direction: row !important ;
    justify-content: start !important;
    align-items: end;
}

.footer-link i {
    font-size: 25px;
}

.copyright {
    text-align: center;
    padding: 10px;
    font-size: small;
}

.main {
    font-size: larger;
    font-weight: 500;
    margin: 10px 0;
}

.main-wrapper {
    max-width: 800px;
    margin: auto;
}

.hidden {
   display: none;
}


.switch {
    rotate: 180deg;
}

nav a {
    display: inline-block;
    position: relative;
}

nav .unactive::after {
    content: '';
  position: absolute;
  width: 60%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  background-color: orangered;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav .active::after {
    content: '';
  position: absolute;
  width: 60%;
  height: 3px;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  background-color: orangered;
}

nav a:hover{
    color: rgb(201, 201, 201);
}

@keyframes pop {
  0% {
    left: -1000px;
  }
  100% {
    left: 0px;
  }
}

.glow {


@property --a {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false
}

html, body, main { display: grid }
html { min-height: 100% }
body { background: #0a0a12 }
body, main { place-content: center }

main {
	grid-gap: calc(3*var(--m)*var(--b));
	grid-template-columns: 
		repeat(auto-fit, min(100%, 15em))
}

svg[aria-hidden='true'] { position: fixed }

h1 {
	margin: 0 .25em 2rem;
	color: #dedede;
	font: clamp(.625em, 1.5vw + 2vh, 3.75em) playwrite is, cursive;
	text-align: center;
	text-wrap: balance
}

img {
	box-sizing: border-box;
	border: solid var(--b) #0000;
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
	border-radius: calc(2*var(--b));
	background: 
		repeating-conic-gradient(from var(--a, 0deg), 
				var(--l, #0000 0% 70%, #0000ff7f)) border-box;
	filter: var(--f, url(#glow-0));
	animation: a 2s linear infinite
}

@keyframes a { to { --a: 1turn } }
}


@media (max-width : 768px) {

    .nav {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;
        gap: 6px;
        cursor: pointer;
    }

    footer {
        font-size: small;
    }

    .wrapper  {
        flex-direction: column ;
    }

    .wrapper div {
        width: 60%;
        margin: auto;
       align-items: center;
       text-align: center;
    }
}